$primary-blue:rgb(20,105,247);
$lightblue:rgb(31,171,224);
$navyblue:rgb(9,47,75);
$primary-grey:rgb(36,36,36);
$primary-lightgrey:rgb(102,102,102);
$lightlightgrey:rgb(244,244,244);
$primary-black:rgb(21,21,21);
$light-green:rgb(146,237,110);
$green:rgb(71,176,71);
$yellow:rgb(254,227,83);
$soft-grey:rgb(132,132,132);
